.about {
  font-family: space mono;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.content {
  flex: 1;
  margin-right: 50px;
}

.imageContainer {
  width: 50%;
}


.imageContainer {
  width: 50%;
}

.image {
  width: 100%;
  height: auto;
  align-self: center;
  margin-top: 150px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  } 
  
  .imageContainer {
    width: 100%;
  }
}
