.div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: relative;
        
    }

.mh1 {
            position: relative;
            margin-left: 175px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 41px;
    
            color: #000000;}



.mimg {
    position: absolute;
    width: 605px;
    height: 315px;
    left: 740px;
    top: 190px;
}