.navbar{
    display: flex; 
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 55px;
    background: #A9C2E7;
}


a {
    position: flex;
    width: 198px;
    height: 38px;
    left: 167px;
    top: -5px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 59px;

    color: #000000;
    padding: 25px;
}
a:hover{
    border-bottom: 3px #000000;
} 

footer{
    position: fixed;
    height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
    background-color: #A9C2E7;
    display: block;
}



form{
    margin-left: 100px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 16px;
    background: #000000;
    gap: 10px;
    margin-top: 30px;
    color: white;
    font-family: 'Space Mono';
    text-decoration: none;
    border: none;
}

p{
                 
    width: 150px;
    height: 24px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    }

h1{
    position: relative;
    margin-left: 175px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 41px;

    color: #000000;
}

img {
    height:65px;
    width: 65px;
    float:right;
    padding-right: 100px;


}